@import './../styles/variables.scss';

.settingsImage {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.75em -0.5em $color-shadow;
  margin-right: 1em;
}

.profile-box {
  margin-top: 0px;
  padding-top: 80px;
  padding-left: 30px;
  height: 300px;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.175em 1em -0.2em $color-shadow;
  margin-bottom: 1em;
  margin-right: 100px;
  padding: 60px;
}

.individual {
  display: flex;
}

.settingsImage {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.settingButton {
  padding: 15x;
  padding: 3px 1px 3px 1px;
  margin: 0;
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 20px;
}

.profileTop {
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
  
}

.title {
  display: inline-flex;
}

.standinProfilePic {
  background-color: lightseagreen;
}

.profile-picture {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}

.info-profile {
  margin-left: 30px;
  margin-top: 10px;
  width: 900px;
  p {
    margin-top: 0;
    padding-top: 0;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 110px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.create-review {
  margin-top: 30px;
}

.rating-component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
}

.submit-review-button {
  width: 80px;
  height: 50px;
  align-items: center;
  margin-top: 15px;
  background-color: $color-primary;
  color: white;
  font-weight: 500;
  justify-content: center;
  border: white;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  background-color: $color-primary;
  color: white;
  border: 0;
}

