.create-review-box {
    float: right;
}

.personal-rating {
    float: right;
}

.list-reviews {
    margin-top: 30px;
}

.settingsImage {
  width: 30px;
  height: auto;
  margin: 0;
  padding: 0;
}

.settingButton {
  padding: 0;
  margin: 0;
}