@import './../styles/variables.scss';

.taskalign_application {
  margin-top: 2em;
  padding-top: 1em;
}
.application_item {
  margin: 0.25em;
  background-color: #a6d8b266;
  & p {
    margin: 1em;
  }
  & a {
    margin: 1em;
  }
}
.application_head {
  margin-bottom: 1em;
  text-align: center;
}



.link:hover {
  text-decoration: underline;
}

.task__item {

  // h3 {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding-top: 35px;
  // }

}
