@import './../styles/variables.scss';

.singletaskalign {
  display: flex;
  justify-content: center;
}

.task_design {
  width: 25em;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.175em 1em -0.2em $color-shadow;
  margin-bottom: 1em;
}

.taskinput {
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.button {
  font-weight: 600;
  margin: 40px;
  &:first-child {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}
}
