.singletaskalign {
  display: flex;
  justify-content: center;
}

.task_design {
  width: 25em;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.125em 0.75em -0.5em hsl(220, 30%, 75%);
  margin-bottom: 1em;
}

.taskinput {
  padding-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
