.settingsImage {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.75em -0.5em hsl(220, 30%, 75%);
  margin-right: 1em;
}

.taskOwner {
  display: flex;
}

.settingsImage {
  width: 30px;
  height: auto;
  margin: 0;
  padding: 0;
}

.settingButton {
  padding: 0;
  margin: 0;
}

.profileTop {
  display: flex;
  justify-content: space-between;
}

.title {
  max-width: 250px;
}

.standinProfilePic {
  background-color: lightseagreen;
}
