@import './../styles/variables.scss';

.settingsImage {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.75em -0.5em $color-shadow;
  margin-right: 1em;
}

.profile-box {
  margin-top: 0;
  padding-top: 0;
  padding-left: 30px;
}

.taskOwner {
  display: flex;
}

.settingsImage {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.settingButton {
  padding: 15x;
  padding: 3px 1px 3px 1px;
  margin: 0;
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 160px;
  margin-right: 30px;
}

.profileTop {
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
}

.title {
  display: inline-flex;
}

.standinProfilePic {
  background-color: lightseagreen;
}

.profile-picture {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.info-profile {
  margin-left: 30px;
  margin-top: 10px;
}
