@import './../styles/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  border-bottom: 3px solid $color-primary;
  .logoimage {
    height: 6em;
    width: 7em;
    border-radius: 0%;
    box-shadow: 0 0.125em 0.75em -0.5em $color-shadow;
  }

  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0.125em 0.75em -0.5em $color-shadow;
    margin-right: 1em;
  }
  a,
  button {
    display: inline-flex;
    padding: 1em 0;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    margin-top: 1em 0;
  }
  & > div {
    margin-left: auto;
  }
}
.img__wrap {
  position: relative;
  height: 62px;
  width: 128px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 4em;
  background: rgba(167, 217, 179, 0.42);
  color: rgb(2, 1, 1);
  visibility: hidden;
  opacity: 0;
  border-radius: 1em;
  font: 13px/30px serif;
  span {
    margin-left: 0.5em;
  }
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
