.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  border-bottom: 3px solid rgb(166, 216, 178);
  .logoimage {
    height: 6em;
    width: 7em;
    border-radius: 0%;
    box-shadow: 0 0.125em 0.75em -0.5em hsl(220, 30%, 75%);
  }
  
  img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0 0.125em 0.75em -0.5em hsl(220, 30%, 75%);
    margin-right: 1em;
  }
  a,
  button {
    display: inline-flex;
    padding: 1em 0;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    margin-bottom: 0;
  }
  & > div {
    margin-left: auto;
  }
}
.img__wrap {
  position: relative;
  height: 62px;
  width: 128px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 32px;
  // background: rgba(29, 106, 154, 0.72);
  background: rgba(231, 133, 150, 0.38);
  color: rgb(2, 1, 1);
  visibility: hidden;
  opacity: 0;
  border-radius: 1em;
  font: 13px/30px serif;
  span {
    margin-left: 0.5em;
  }
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

